<header th:fragment="header">
    <div class="logo">
        <img src="/images/hermes-logo.png" alt="Hermes Logo">
    </div>
    <nav>
        <a href="/category_page/운동화">운동화</a>
        <a href="/category_page/캔버스화">캔버스화</a>
        <a href="/category_page/스니커즈">스니커즈</a>
        <a href="/category_page/부츠">부츠</a>
        <a href="/category_page/CROCS">CROCS</a>
    </nav>
    <div class="sign-in">
        <a href="#">Sign In</a>
        <img src="/images/user-icon.png" alt="User Icon">
    </div>
</header>
