<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <settings>
        <!-- JAVA의 null 값을 DB의 null 로 인식하도록 설정 -->
        <setting name="jdbcTypeForNull" value="NULL" />

        <!-- DB의 UnderScore (_) 표기법 과
            JAVA의 Camel    표기법이 서로 일치할 수 있도록 설정
            JAVA에서 필드이름 (memberId) 과 DB 컬럼이름 (MEMBER_ID)가 서로 일치하도록 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="false" />
    </settings>


</configuration>